.pagination {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 1rem;
	padding: 1rem 0;
	display: table;
	width: 100%;

	.previousButton {
		display: table-cell;
		width: 33%;
		text-align: left;
	}

	.currentPage {
		display: table-cell;
		width: 33%;
		text-align: center;
		color: white;
	}

	.nextButton {
		display: table-cell;
		width: 33%;
		text-align: right;
	}
}