@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.woff2') format('woff2'); /* Super Modern Browsers */
  src: url('./Roboto-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  src: url('./Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
} 